.showinterestform {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px 20px;
    margin-top: 10vh;
    min-width: 280px;
    width: 70vw;
    max-width: 450px;
    height: 80vh;
    max-height: 480px;
    border: 1px solid var(--border-second-color);
    box-shadow: 2px 8px 16px var(---btn-box-shadow-color);
    background-color: var(--primary-bg-color);
  }

  .title_wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  .icon {
    width: 24px;
    height: 24px;
    transform: rotate(45deg);
    fill: var(--accent-color);
    opacity: 0.95;
    cursor: pointer;
    transition: all 0.3s;
  }
  .icon:hover {
    opacity: 1;
    rotate: 180deg;
  }

  .form {
    margin-top: 40px;
  }
  .btn {
    width: 100%;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--second-text-color);
    border: none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    opacity: 0.8;
    transition: all 0.8s;
  }

  .btn:hover {
    opacity: 1;
  }
}
