.scrollToTop {
  position: fixed;
  bottom: 15%;
  right: 3%;
  //   width: 40px;
  //   height: 40px;
  // background-color: var(--accent-color);
  background-color: transparent;
  border-radius: 8px;
  border: none;
  opacity: 0.4;
  cursor: pointer;
  text-align: center;
}

// .icon {
//   fill: #fff;
//   width: 20px;
//   height: 20px;
// }
